body {
    margin: 0;
}
img {
    width: 120px;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.twit {
    width: 17px;
}
.face {
    width: 8px;
    margin-left: 25px;
}
.header__row {
    display: flex;
    align-items: center;
}
.header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.nav__menu {
    display: flex;
    padding:0;
}
.nav__item {
    list-style: none;
    margin-left: 46px;
}
.nav__link {
    color: white;
    text-decoration: none;
}
.social {
    display: flex;
    align-items: center;
    list-style: none;
}
.social__items {
    list-style: none;
    margin-left: 25px;
}

/* Hero */

.hero {
    position: relative;
    height: 100vh;
    background-color:#1b2433;
}
.hero__content {
    padding-top: 140px;
    max-width: 700px;
    color: white;
}
.hero__girl {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 780px;
    z-index: 1;
}
h1 {
    text-decoration: none;
}
.hero__title {
    font-size: 80px;
    font-family: 'EB Garamond', serif;
    margin: 0;
}
.hero__description {
    font-size: 20px;
    margin-top: 40px;
    font-weight: 400;
}
.hero__btn  {
    text-decoration: none;
    font-size: 22px;
    color: white;
    font-family: 'EB Garamond', serif;
}

.hero__pointer{
    fill: #fff;
    transition: 0.6s;
    margin-left: 28px;
    height: 8px;
}

/* Hero */

.features{
	padding: 130px 0 190px 0;

}

.features__inner{
	color: #25252e;

}

.features__title{
	max-width: 670px;
    font-size: 60px;
    margin: 0 0 130px 0;
}

.features .features__row{
	display: flex;
	flex-wrap: wrap;
}

.col-4{
	width: 33.33%;

}

.features__icon{
    height: 40px;
    width: 32px;
}

.features__subtitle{
	font-size: 22px;
}

.fetures__description{
	font-size: 16px;
}







.slick-prev.slick-arrow {
    position: absolute;
    top: -45px;
    z-index: 2;
    right: 222px;
    font-size: 0;
    width: 57px;
    border: 0;
    height: 8px;
    transform: rotate(180deg);
    background: url(../Logo/arrow-slider.svg) center no-repeat ;
    cursor: pointer;
    outline:none;
}
.slick-next.slick-arrow {
    position: absolute;
    top: -45px;
    right: 147px;
    font-size: 0;
    width: 57px;
    border: 0;
    height: 8px;
    background: url(../Logo/arrow-slider.svg) center no-repeat ;
    cursor: pointer;
    outline:none;
    transition: 0.5s;
}
.slick-next.slick-arrow:active {
    right: 147px;
    transform: rotate(180deg);
}
.slick-next.slick-arrow::before,
.slick-prev.slick-arrow::before {
    content: "";
    position: absolute ;
    top: -30px;
    width: 35px;
    height: 40px;
    opacity: 0;
    border: 1px solid green;
    transition: 0.3s;
}
.slick-next.slick-arrow:hover::before,
.slick-prev.slick-arrow:hover::before {
    opacity: 1;
    top: -11px;
}




























